<h2> Users</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th> Email </th>
            <th> User Type</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users" >
            <td> {{ user.name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.type }} </td>
            <td>
                <button (click) = "update(user.id)" class = "btn btn-info"> Update</button>
                <button (click) = "delete(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "findById(user.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
